.about {
    width: 100%;
    background: $primary;
    padding: 21rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        background-image: url("../assets/images/inside4.jpg");
        background-size: cover;
        background-position: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 40rem;
        width: 35rem;
        border: 1px solid $secondary;
        animation-duration: 4s;
        animation-name: shadow;
        animation-iteration-count: infinite;
    }

    &__text {
        padding-top: 5rem;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__call {
        padding-top: 2rem;
    }
    .splide {
      padding-top: 5rem;
      width: 100%;
      
      &__slide {
        display: flex;
        justify-content: center;
        height: 400px;
        width: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      &__slide.first {
        background-image: url('../assets/images/girls1.jpg');
      }

      &__slide.second {
        background-image: url('../assets/images/inside7.jpg');
      }

      &__slide.third {
        background-image: url('../assets/images/girls2 (1).jpg');
      }
    }


}

@keyframes shadow {
  0% {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem $secondary;
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem $secondary;
  }
}