.menu {
    width: 100%;
    padding-bottom: 5rem;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 4rem;
    }

    &__grid {
        display: grid;
        padding: 2rem 0;
        grid-template-columns: 17rem 17rem;
        grid-row: auto auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1.2rem;
    }

    &__item {
        display: block;
        height: 16.5rem;
        width: 16.5rem;
        border: 1px solid $secondary;
        background-size: cover;
    }

    &__item.first {
        background-image: url('../assets/images/food2.jpg');
    }

    &__item.second {
        background-image: url('../assets/images/food1.jpg');
    }

    &__item.third {
        background-image: url('../assets/images/food3.jpg');
    }

    &__item.fourth {
        background-image: url('../assets/images/food4.jpg');
    }
    
}